.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bubble-color1 {
  border-color: #61dafb;
  border-style: solid;
}

.chat-bubble {
  border-style: solid;
  border-radius: 50%;
  padding: 100em; 
}


.side-nav {
  height: 100%;
  float: left;
  text-align: left;
}

.chat-submit {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: aliceblue;
}

.my-message {
  text-align: right;
  background-color: purple;
}