.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bubble-color1 {
  border-color: #61dafb;
  border-style: solid;
}

.chat-bubble {
  border-style: solid;
  border-radius: 50%;
  padding: 100em; 
}


.side-nav {
  height: 100%;
  float: left;
  text-align: left;
}

.chat-submit {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: aliceblue;
}

.my-message {
  text-align: right;
  background-color: purple;
  padding-right: 5%;
}

.auto-message {
  text-align: left;
}